<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OPV_Administration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <OPV_Administration.My.MySettings>
            <setting name="downloadUrl" serializeAs="String">
                <value>https://ssl-id.de/ops-app.de/?component=content&amp;template=json&amp;token=</value>
            </setting>
            <setting name="uploadJsonUrl" serializeAs="String">
                <value>https://ssl-id.de/ops-app.de/?component=admin&amp;template=json&amp;token=</value>
            </setting>
            <setting name="loginUrl" serializeAs="String">
                <value>https://ssl-id.de/ops-app.de/?component=auth&amp;template=login&amp;</value>
            </setting>
            <setting name="printUrl" serializeAs="String">
                <value>https://ssl-id.de/ops-app.de/?component=content&amp;template=print&amp;forcePagebreak=true&amp;token=</value>
            </setting>
            <setting name="uploadTurboUrl" serializeAs="String">
                <value>https://ssl-id.de/ops-app.de/?component=admin&amp;template=turbo&amp;token=</value>
            </setting>
            <setting name="syncDir" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="syncActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disableBalloons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cryptoKey" serializeAs="String">
                <value />
            </setting>
            <setting name="sha1" serializeAs="String">
                <value />
            </setting>
        </OPV_Administration.My.MySettings>
    </userSettings>
</configuration>
