<?xml version="1.0" encoding="utf-8"?>
<!-- ~ Copyright (c) Konrad Kollnig 2015. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpg.app"
    android:versionCode="712" >

    <!-- Data fetching permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.mpg.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mpg.app.permission.C2D_MESSAGE" />

    <!-- Declare Tablet Support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--
    <compatible-screens>
        &lt;!&ndash; small size screens &ndash;&gt;
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />

        &lt;!&ndash;all normal size screens &ndash;&gt;
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />

        &lt;!&ndash; all large size screens &ndash;&gt;
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />

        &lt;!&ndash; all xlarge size screens &ndash;&gt;
        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />

        &lt;!&ndash; Special case for Nexus 7 &ndash;&gt;
        <screen android:screenSize="large" android:screenDensity="213" />

        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="480" />
        <screen android:screenSize="xlarge" android:screenDensity="480" />

    </compatible-screens>
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".views.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".views.HomeActivity"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mpg.app.views.HomeActivity" />
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/activity_login_title"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".views.SetupActivity"
            android:label="@string/activity_setup_title"
            android:parentActivityName=".views.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mpg.app.views.LoginActivity" />
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mpg.app" />
            </intent-filter>
        </receiver>

        <!--
            <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIOinhUe8JzeZoElZpMzviEqsXIGx3KB-e_0RvVg" />
        -->
    </application>

</manifest>
